<!-- Section: Design Block -->
<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(
          650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        ),
        radial-gradient(
          1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%
        );
      height: 100%;
    }
    #radius-shape {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      height: 220px;
      width: 220px;
      top: 390px;
      left: -290px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -110px;
      right: -130px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#44006b, #ad1fff);
      overflow: hidden;
    }

    .bg-glass {
      background-color: hsla(0, 0%, 100%, 0.9) !important;
      backdrop-filter: saturate(200%) blur(25px);
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1
          class="my-5 display-5 fw-bold ls-tight"
          style="color: hsl(218, 81%, 95%)"
        >
          The best offer <br />
          <span style="color: hsl(218, 81%, 75%)">for your business</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus,
          expedita iusto veniam atque, magni tempora mollitia dolorum
          consequatur nulla, neque debitis eos reprehenderit quasi ab ipsum nisi
          dolorem modi. Quos?
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape" class="position-absolute shadow-5-strong"></div>
        <div
          id="radius-shape-1"
          class="position-absolute rounded-circle shadow-5-strong"
        ></div>
        <div
          id="radius-shape-2"
          class="position-absolute shadow-5-strong"
        ></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5">
            <form [formGroup]="myForm" (ngSubmit)="signup()">
              <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row">
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input
                      type="text"
                      id="name"
                      formControlName="name"
                      class="form-control"
                      required
                    />
                    <label class="form-label" for="name">Your Name</label>
                  </div>
                </div>
                <div class="col-md-6 mb-4">
                  <div data-mdb-input-init class="form-outline">
                    <input
                      type="mobile"
                      id="mobile"
                      formControlName="mobile"
                      class="form-control"
                      required
                    />
                    <label class="form-label" for="mobile`">Phone Number</label>
                  </div>
                </div>
              </div>

              <!-- Email input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="email"
                  id="email"
                  formControlName="email"
                  class="form-control"
                  required
                />
                <label class="form-label" for="email`">Your Email</label>
              </div>

              <!-- Password input -->
              <div data-mdb-input-init class="form-outline mb-4">
                <input
                  type="password"
                  id="password"
                  formControlName="password"
                  class="form-control"
                  required
                />
                <label class="form-label" for="password">Password</label>
              </div>

              <!-- Submit button -->
              <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                <input
                  type="submit"
                  value="Submit"
                  class="btn btn-primary btn-lg"
                />
              </div>
            </form>
            <a routerLink="/login">Already Registerd! Click here to login.</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->

<!-- <section class="vh-100" style="background-color: #eee">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-lg-12 col-xl-11">
        <div class="card text-black" style="border-radius: 25px">
          <div class="card-body p-md-5">
            <div class="row justify-content-center">
              <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">
                  Sign up
                </p>

                <form
                  [formGroup]="myForm"
                  (ngSubmit)="signup()"
                  class="mx-1 mx-md-4"
                >
                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <input
                        type="text"
                        id="name"
                        formControlName="name"
                        class="form-control"
                        required
                      />
                      <label class="form-label" for="name">Your Name</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <input
                        type="mobile"
                        id="mobile"
                        formControlName="mobile"
                        class="form-control"
                        required
                      />
                      <label class="form-label" for="mobile`"
                        >Phone Number</label
                      >
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <input
                        type="email"
                        id="email"
                        formControlName="email"
                        class="form-control"
                        required
                      />
                      <label class="form-label" for="email`">Your Email</label>
                    </div>
                  </div>

                  <div class="d-flex flex-row align-items-center mb-4">
                    <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                    <div
                      data-mdb-input-init
                      class="form-outline flex-fill mb-0"
                    >
                      <input
                        type="password"
                        id="password"
                        class="form-control"
                        required
                      />
                      <label class="form-label" for="password">Password</label>
                    </div>
                  </div>

                  <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                    <input
                      type="submit"
                      value="Submit"
                      class="btn btn-primary btn-lg"
                    />
                  </div>
                </form>
                <a routerLink="/login"
                  >Already Registerd! Click here to login.</a
                >
              </div>
              <div
                class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2"
              >
                <img
                  src="./../../assets/images/food.jpg"
                  class="img-fluid"
                  alt="Sample image"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->
